html {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1.5rem;
}

h1, h2 {
  color:#6f00e7;
  font-family: 'Oswald', sans-serif;
}

p, a {
  font-family: 'Karma', sans-serif;
}

ol {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

ol li {
  padding: 1rem;
  line-height: 1.5;
  border-width: 2px;
  border-style: solid;
  border-color: #987ffa;
  border-radius: 8px;
}

ol li h2 {
  margin-top: 0;
}

ol li a {
  border-width: 2px;
  border-style: solid;
  border-color: #987ffa;
  border-radius: 8px;
  background-color: #6f00e7;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}
